examples/main/.flows.json.backup
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c9fd2f76f856879d",
        "type": "tab",
        "label": "base flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "efeb6cfe443c312a",
        "type": "tab",
        "label": "modularize example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "b126ea03f7d74573",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 440,
        "wires": []
    },
    {
        "id": "692c86b087eed4a0",
        "type": "pythonshell in",
        "z": "f6f2187d.f17ca8",
        "name": "install dependency",
        "pyfile": "/data/main/py/install.py",
        "virtualenv": "",
        "continuous": true,
        "stdInData": false,
        "python3": true,
        "x": 270,
        "y": 300,
        "wires": [
            [
                "0b5c3b39a424dc6a"
            ]
        ]
    },
    {
        "id": "0b5c3b39a424dc6a",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 470,
        "y": 300,
        "wires": []
    },
    {
        "id": "3b1a0675389769a1",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "install python dependency",
        "info": "",
        "x": 370,
        "y": 240,
        "wires": []
    },
    {
        "id": "04e11dfd70107dcf",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "read experiemnt data from kfp",
        "info": "",
        "x": 380,
        "y": 380,
        "wires": []
    },
    {
        "id": "ffe395298ffe40e0",
        "type": "pythonshell in",
        "z": "f6f2187d.f17ca8",
        "name": "list experiments",
        "pyfile": "/data/main/py/api_examples/list_experiments.py",
        "virtualenv": "",
        "continuous": true,
        "stdInData": false,
        "python3": true,
        "x": 260,
        "y": 440,
        "wires": [
            [
                "b126ea03f7d74573"
            ]
        ]
    },
    {
        "id": "b33d174d94620977",
        "type": "debug",
        "z": "c9fd2f76f856879d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "6b5130cec3efaf0a",
        "type": "debug",
        "z": "c9fd2f76f856879d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "84f40c6e98828bb5",
        "type": "debug",
        "z": "c9fd2f76f856879d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "25c2644a197da5cb",
        "type": "decisionTree",
        "z": "c9fd2f76f856879d",
        "name": "",
        "pyfile": "/data/main/py/examples/decisionTree.py",
        "virtualenv": "",
        "continuous": true,
        "stdInData": "",
        "python3": true,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "b33d174d94620977"
            ]
        ]
    },
    {
        "id": "afa926c570fdc7dd",
        "type": "randomForest",
        "z": "c9fd2f76f856879d",
        "name": "",
        "pyfile": "/data/main/py/examples/examples/randomForest.py",
        "virtualenv": "",
        "continuous": true,
        "stdInData": "",
        "python3": true,
        "x": 320,
        "y": 220,
        "wires": [
            [
                "6b5130cec3efaf0a"
            ]
        ]
    },
    {
        "id": "dc3a69d232e3d366",
        "type": "logisticRegression",
        "z": "c9fd2f76f856879d",
        "name": "",
        "pyfile": "/data/main/py/examples/logisticRegression.py",
        "virtualenv": "",
        "continuous": true,
        "stdInData": "",
        "python3": true,
        "x": 330,
        "y": 300,
        "wires": [
            [
                "84f40c6e98828bb5"
            ]
        ]
    },
    {
        "id": "6709f54e46cd1943",
        "type": "datasets",
        "z": "efeb6cfe443c312a",
        "name": "",
        "customized_datasets": "",
        "traditional_datasets": "mnist",
        "source": "traditional",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "35c167a66d02a065"
            ]
        ]
    },
    {
        "id": "35c167a66d02a065",
        "type": "decisiontree",
        "z": "efeb6cfe443c312a",
        "name": "",
        "max_depth": "4",
        "criterion": "gini",
        "splitter": "best",
        "min_samples_split": "2",
        "min_samples_leaf": "1",
        "x": 350,
        "y": 180,
        "wires": [
            [
                "813c0799733ed4eb"
            ]
        ]
    },
    {
        "id": "b76f7686234b1509",
        "type": "randomforest",
        "z": "efeb6cfe443c312a",
        "name": "",
        "n_estimators": "100",
        "max_depth": "4",
        "criterion": "gini",
        "min_samples_split": "2",
        "min_samples_leaf": "1",
        "x": 360,
        "y": 320,
        "wires": [
            [
                "3b8feda3662db619"
            ]
        ]
    },
    {
        "id": "a7e51f0e47e35820",
        "type": "logisticregression",
        "z": "efeb6cfe443c312a",
        "name": "",
        "penalty": "l2",
        "solver": "lbfgs",
        "x": 370,
        "y": 460,
        "wires": [
            [
                "3fe28c54bbb2f0a3"
            ]
        ]
    },
    {
        "id": "8c099229c8918324",
        "type": "deploy",
        "z": "efeb6cfe443c312a",
        "name": "",
        "pyfile": "",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "python3": true,
        "x": 610,
        "y": 260,
        "wires": [
            [
                "9b0a1caf6e63e181"
            ]
        ]
    },
    {
        "id": "d1c890546580134f",
        "type": "deploy",
        "z": "efeb6cfe443c312a",
        "name": "",
        "pyfile": "",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "python3": true,
        "x": 610,
        "y": 400,
        "wires": [
            [
                "bd503e5a353408b3"
            ]
        ]
    },
    {
        "id": "8478a1fe2d7ebd9c",
        "type": "deploy",
        "z": "efeb6cfe443c312a",
        "name": "",
        "pyfile": "",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "python3": true,
        "x": 610,
        "y": 540,
        "wires": [
            [
                "dbaff508b337ed58"
            ]
        ]
    },
    {
        "id": "c0a1af4e6fb981a5",
        "type": "datasets",
        "z": "efeb6cfe443c312a",
        "name": "",
        "customized_datasets": "",
        "traditional_datasets": "mnist",
        "source": "traditional",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "b76f7686234b1509"
            ]
        ]
    },
    {
        "id": "62fef0401ac61b04",
        "type": "datasets",
        "z": "efeb6cfe443c312a",
        "name": "",
        "customized_datasets": "",
        "traditional_datasets": "mnist",
        "source": "traditional",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "a7e51f0e47e35820"
            ]
        ]
    },
    {
        "id": "f3a07c1502bfb5d3",
        "type": "inject",
        "z": "efeb6cfe443c312a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "6709f54e46cd1943"
            ]
        ]
    },
    {
        "id": "9b0a1caf6e63e181",
        "type": "debug",
        "z": "efeb6cfe443c312a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "bd503e5a353408b3",
        "type": "debug",
        "z": "efeb6cfe443c312a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "dbaff508b337ed58",
        "type": "debug",
        "z": "efeb6cfe443c312a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 580,
        "wires": []
    },
    {
        "id": "c91e84ff59127929",
        "type": "inject",
        "z": "efeb6cfe443c312a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "c0a1af4e6fb981a5"
            ]
        ]
    },
    {
        "id": "1c69bc1006a33555",
        "type": "inject",
        "z": "efeb6cfe443c312a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 360,
        "wires": [
            [
                "62fef0401ac61b04"
            ]
        ]
    },
    {
        "id": "813c0799733ed4eb",
        "type": "model creator",
        "z": "efeb6cfe443c312a",
        "name": "",
        "epochs": "5",
        "model_name": "model11",
        "x": 490,
        "y": 220,
        "wires": [
            [
                "8c099229c8918324"
            ]
        ]
    },
    {
        "id": "3b8feda3662db619",
        "type": "model creator",
        "z": "efeb6cfe443c312a",
        "name": "",
        "epochs": "5",
        "model_name": "model12",
        "x": 490,
        "y": 360,
        "wires": [
            [
                "d1c890546580134f"
            ]
        ]
    },
    {
        "id": "3fe28c54bbb2f0a3",
        "type": "model creator",
        "z": "efeb6cfe443c312a",
        "name": "",
        "epochs": "5",
        "model_name": "model13",
        "x": 490,
        "y": 500,
        "wires": [
            [
                "8478a1fe2d7ebd9c"
            ]
        ]
    }
]